{% extends '/info/base_cgu.html.twig' %}
        {% block content %}
            <h1>Aide & Contact</h1>

            <h2>Aide</h2>

            <p>En cas de problème d'affichage du site, vider le cache et les cookies du navigateur puis recharger la page.</p>

            <h2>Contact</h2>

            <h3>Kamal ALAILI</h3>

            <p>Numéro de téléphone : <strong><a href="tel:+337-88-93-13-67">+33 7 88 93 13 67</a></strong></p>

            <p>Adresse e-mail : <strong><a href="mailto:kalaili@cesi.fr">kalaili@cesi.fr</a></strong></p>

        {% endblock %}

