{% extends '/info/base_cgu.html.twig' %}
        {% block content %}
            <h1>Informations Légales</h1>

            <h2>Éditeur du site</h2>

            <p>Le site <strong>interned.fr</strong> est un projet web réalisé par un groupe de 5 étudiants de l'école CESI.</p>

            <p>Siège social : CESI Nancy</p>
            <p>Adresse : Nancy, France</p>

            <h2>Équipe de développement</h2>

            <p>Ce site a été conçu et développé dans le cadre d'un projet pédagogique par 5 étudiants de l'école CESI.</p>

            <h2>Hébergement</h2>

            <p>Le site interned.fr est hébergé par Azure.</p>
            <p>Site web : <a href="https://azure.microsoft.com/fr-fr/get-started/azure-portal/" target="_blank">https://azure.microsoft.com/fr-fr/get-started/azure-portal/</a></p>

            <h2>Propriété intellectuelle</h2>

            <p>L'ensemble du contenu de ce site (textes, images, logos, etc.) est la propriété exclusive des étudiants créateurs du projet, sauf mention contraire. Seuls les logos des réseaux sociaux sont libres de droits.</p>

            <h2>Protection des données personnelles</h2>

            <p>Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant.</p>

            <p>Pour exercer ce droit, vous pouvez nous contacter via la section "Aide et contact" du site.</p>

            <h2>Limitations de responsabilité</h2>

            <p>Ce site étant un projet étudiant, nous nous efforçons d'assurer au mieux l'exactitude et la mise à jour des informations diffusées, mais ne pouvons garantir l'exactitude, la précision ou l'exhaustivité des informations mises à disposition sur ce site.</p>
        {% endblock %}

